.VPHome::before {
  background-image: url(./assets/bg.png);
  background-size: cover;
}

.blog-info-wrapper {
  display: none !important;
}

* {
  word-break: break-word !important;
}

.VPDoc .content img {
  max-height: 600px !important;
  width: auto !important;
}
